@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #FBFBFB;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: iranSans;
  src: url("../../public/fonts/IRANSans/IRANSans.ttf") ,
      url("../../public/fonts/IRANSans/IRANSans_Black.ttf"),
      url("../../public/fonts/IRANSans/Farsi_numerals/IRANSans\(FaNum\).ttf"),
      url("../../public/fonts/IRANSans/IRANSansFaNum.ttf");
}

/* ------------------------- */

*{
  font-family: iranSans !important;
  direction: rtl;
}

body {
  font-family: iranSans !important;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* mobile bottom buttons--------------- */
#btnLeft:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: -3%;
  height: 54.4px;
  background: #FBFBFB;
  -webkit-clip-path: ellipse(18% 51% at 100% 51%);
  /* clip-path: ellipse(50% 60% at 50% 100%); */
  clip-path: ellipse(13% 51% at 100% 51%);
}

#btnRight:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: -3%;
  height: 54.4px;
  background: #FBFBFB;
  -webkit-clip-path: ellipse(18% 51% at -1% 50%);
  /* clip-path: ellipse(50% 60% at 50% 100%); */
  clip-path: ellipse(13% 51% at -1% 50%);
}

/* cart sidebar back ground image style --------------------- */
#sideCartBg{
  background-repeat: no-repeat;
  background-size: cover;
}


 /* Buying basket address map ------------------------------ */

 #mapBg{
  background-image: url("../../public/images/map.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
 }

 /* Home Image background ---------------------------------  */

/* #HomeImg{
  background-image: url("../../public/images/HomeImg.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
} */

/* ------------------------------------ */
.ant-segmented-group{
  justify-content: space-around !important;
}

/* Loader styles ----------------------- */

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 2px solid black;
  position: absolute;
  left: 0;
  top: 0;
  animation: rotation 2s ease-in-out infinite alternate;
}
.loader::after {
  border-color: #FF3D00;
  animation-direction: alternate-reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 


/* accordions Home page -------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #3a3544;
  text-align: center;
  font-family: "Euclid Circular A", "Poppins";
}

.accordion {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 400px;
  gap: 16px;
  transition: 0.3s;
}

.accordion:hover {
  gap: 0;
}

.accordion li {
  position: relative;
  overflow: hidden;
  flex: 0 0 80px;
  border-radius: 50px;
  opacity: 0.75;
  cursor: pointer;
}

.accordion li img {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0.5);
}

.accordion li,
.accordion li img,
.accordion li .content,
.accordion li .content span {
  transition: 0.3s;
}

.accordion h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 45px;
  border-bottom: 2px solid #fff;
  margin-bottom: 10px;
  white-space: nowrap;
}

.accordion li .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: #fff;
  padding: 15px;
  background: #02022e;
  background: linear-gradient(
    0deg,
    rgb(0 0 0 / 70%) 10%,
    rgb(255 255 255 / 0%) 100%
  );
  opacity: 0;
  visibility: hidden;
}

.accordion li .content span {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 50px;
  translate: -300px 0;
  visibility: hidden;
  opacity: 0;
}

.accordion li:hover {
  flex: 0 1 260px;
  scale: 1.1;
  z-index: 10;
  opacity: 1;
}

.accordion li:hover .content {
  opacity: 1;
  visibility: visible;
}

.accordion li:hover span {
  translate: -50% 0;
  opacity: 1;
  visibility: visible;
}
